<div class="flex flex-row justify-content-center align-items-center mx-3 mt-3">
    <div>
        <p-card>
            <h2 *ngIf="currentUserObservable$ | async as account">{{ account.firstname}} {{ account.lastname }}</h2>
            <p-divider />
            <p *ngIf="currentUserObservable$ | async as account">Username: {{ account.username }}</p>
            <p-divider />
            <p *ngIf="currentUserObservable$ | async as account">Email: {{ account.email }}</p>
            <p-divider />
            <p *ngIf="currentUserObservable$ | async as account">Birthday: {{ account.birthdayStringFormatted }}</p>
            <p-divider />
            <p>Current Budget: € {{ currentBudget }}</p>
            <p-divider />
            <p *ngIf="currentUserObservable$ | async as account">Decks Owned: {{ account.decks!.length }}</p>
            <p-divider />
            <p>Cards Owned: {{ accountCards.length }}</p>
            <p-divider />
            <div class="flex justify-content-center align-items-center">
                <p-button class="justify-content-center mx-3" (click)="editClicked = true" icon="pi pi-user-edit"
                    label="Update">
                </p-button>
                <p-button class="justify-content-center" label="Add Budget" icon="pi pi-wallet"
                    (click)="addBudgetClicked = true">

                </p-button>
            </div>
            <p-dialog [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="editClicked"
                header="Edit User Details">
                <app-edit (submitClicked)="editClicked = false"></app-edit>
            </p-dialog>
            <p-dialog #budgetDialog [modal]="true" [draggable]="false" [resizable]="false"
                [(visible)]="addBudgetClicked" header="Amount To Add" (onHide)="budgetToAdd = 0">
                <div class="flex align-items-center mb-3 mt-5">
                    <p-floatLabel>
                        <p-inputNumber [(ngModel)]="budgetToAdd" inputId="integeronly" />
                        <label for="number-input">Number</label>
                    </p-floatLabel>
                </div>
                <p-button class="flex justify-content-center align-items-center" label="Add"
                    (click)="addMoneyToAccount()" icon="pi pi-plus"></p-button>

            </p-dialog>
        </p-card>
    </div>

    <div class="mx-3">
        <p-card>
            <div class="flex flex-row flex-wrap">
                <h2 class=" flex justify-content-center align-items-center mr-3">Your Cards:</h2>
            </div>
            <p-divider />
            <div *ngIf="waitingForCards">
                <p-progressBar class="mt-3 mb-3" mode="indeterminate" [style]="{height: '6px'}" />
            </div>

            <div *ngIf="!waitingForCards">
                <div class="card-container overflow-x-hidden" style="height: 360px;"> <!-- Adjust height as needed -->
                    <div class="grid">
                        <div class="mr-6 col-3" *ngFor="let card of accountCards">
                            <p-image class="images" [src]="card.image_uris?.small" [alt]="card.name"
                                (click)="cardClicked = true; currentCard = card" />
                        </div>
                    </div>
                </div>
                <div *ngIf="accountCards.length === 0">
                    <p>No cards in account</p>
                </div>
            </div>
        </p-card>
    </div>
</div>

<div>
    <p-dialog [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="cardClicked" focusOnShow="false">
        <p-image [src]="currentCard?.image_uris?.normal"></p-image>
        <p-divider />
        <p>Price: €{{ currentCard?.prices?.eur }}</p>
        <p-divider />
        <p>Rarity: {{ currentCard?.rarity }}</p>
        <p-divider />
        <p>Release Date: {{ currentCard?.released_at }} </p>
        <p-divider />
        <p>Set: {{ currentCard?.set}} ({{ currentCard?.set_name }}) </p>
        <p-divider />
        <div class="flex justify-content-center align-items-center">
            <!-- <p-button class="justify-content-center mx-3" icon=" pi pi-cart-minus"
                [label]="currentCardForSale ? 'Remove from sale' : 'Put for sale'" (click)="putCardForSale()">
            </p-button> -->
            <p-button class="justify-content-center" icon="pi pi-trash" label="Delete card" severity="danger"
                (click)="deleteCard()">
            </p-button>
        </div>


    </p-dialog>
</div>