<div class="flex flex-row justify-content-center align-items-center mx-3 mt-3">
    <p-card>
        <p-tabView>
            <p-tabPanel header="Buy">
                <h3>
                    Your Budget: {{ budget }}
                </h3>
            </p-tabPanel>
            <p-tabPanel header="Sell">
                <p>
                    sell panel
                </p>
            </p-tabPanel>
            <p-tabPanel header="Trade">
                <p>
                    trade panel
                </p>
            </p-tabPanel>
        </p-tabView>
    </p-card>
</div>