<form [formGroup]="editGroup" (ngSubmit)="editUser()">
    <div class="flex flex-column justify-content-center align-items-center">
        <input type="text" [(ngModel)]="username" placeholder="Username" pInputText formControlName="username"
            required />
    </div>
    <div class="flex flex-column justify-content-center align-items-center">
        <input class="mt-3" type="text" [(ngModel)]="email" placeholder="Email" pInputText formControlName="email"
            required />
    </div>
    <div class="flex flex-column justify-content-center align-items-center mt-3">
        <button pButton icon="pi pi-user-edit" label="Submit" (click)="submitClicked.emit(true)"></button>
    </div>
</form>