<p-card class="flex flex-column justify-content-center align-items-center mt-3">
    <div>
        <form (ngSubmit)="checkUserLogin()">
            <h2 class="mb-3 mx-1">Login</h2>
            <div class="flex flex-column justify-content-center align-items-center mt-1">
                <input type="text" placeholder="Username" pInputText [(ngModel)]="username" name="username"
                    [ngClass]="{'ng-invalid': usernameInvalid}" required>
            </div>
            <div class="flex flex-column justify-content-center align-items-center mt-3">
                <input type="password" placeholder="Password" pInputText [(ngModel)]="password" name="password"
                    [ngClass]="{'ng-invalid': passwordInvalid}" required>
            </div>

            <div class="flex flex-column justify-content-center align-items-center mt-3 ">
                <button pButton icon="pi pi-sign-in" label="Login"></button>
            </div>
            <p-messages class="flex flex-column justify-content-center align-items-center"
                *ngIf="usernameInvalid || passwordInvalid"
                [value]="[{severity:'warn', detail:'Incorrect Username or Password'}]" [closable]="false"></p-messages>
        </form>
    </div>
</p-card>