<div class="flex flex-row justify-content-center align-items-center mx-3 mt-3">
    <p-card>
        <div class="flex flex-column justify-content-center align-items-center">
            <p-button label="Buy" icon="pi pi-shopping-cart" (click)="buyClicked = true"></p-button>
        </div>
        <div class="flex flex-column justify-content-center align-items-center mt-3">
            <p-button label="Sell" icon="pi pi-shop"></p-button>
        </div>
        <div class="flex flex-column justify-content-center align-items-center mt-3">
            <p-button label="Trade" icon="pi pi-arrow-right-arrow-left"></p-button>
        </div>
    </p-card>

    <p-card class="flex flex-column mx-3" *ngIf="buyClicked">

    </p-card>
</div>