<div class="register-wrapper">
    <form (ngSubmit)="registerUser()">
        <div class="column full-center mb-15 mt-15">
            <input type="text" placeholder="Firstname" pInputText [(ngModel)]="account.firstname" name="firstname"
                required>
        </div>
        <div class="column full-center mb-15 ">
            <input type="text" placeholder="Lastname" pInputText [(ngModel)]="account.lastname" name="lastname"
                required>
        </div>
        <div class="column full-center mb-15 ">
            <input type="text" placeholder="Username" pInputText [(ngModel)]="account.username"
                (ngModelChange)="checkUsername($event)" [ngClass]="{'ng-invalid': userDoesntExist}" name="username"
                required>
        </div>
        <div class="column full-center mb-15 ">
            <input type="text" placeholder="Password" pInputText [(ngModel)]="account.password" name="password"
                required>
        </div>
        <div class="column full-center mb-15">
            <input type="text" placeholder="Email" pInputText [(ngModel)]="account.email"
                (ngModelChange)="checkEmailIsTaken($event)" name="email" [ngClass]="{'ng-invalid': emailDoesntExist}"
                required>
        </div>
        <div class="column full-center mb-15">
            <p-calendar [iconDisplay]="'input'" [showIcon]="true" [(ngModel)]="account.birthday" placeholder="Birthday"
                name="birthday"></p-calendar>
        </div>
        <div class="column full-center mb-15">
            <button pButton icon="pi pi-user-plus" label="Register"></button>
        </div>
    </form>
</div>